@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Titillium+Web:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", "Noto Sans KR", sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
button,
p,
small {
  margin: 0;
  padding: 0;
}
a {
  color: #222;
  text-decoration: none;
}

ul li {
  list-style: none;
}
button {
  background: none;
  border: 0;
}
.hidden {
  position: absolute;
  left: -9999px;
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  font-weight: 900 !important;
}
/* -----------------header------------------ */
#headerWrap {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1000;
}
#header {
  padding: 0 20px 0 80px;
  margin: 0 auto;
  width: 100%;
  max-width: 1460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: max-width .3s;
}
#header #logo {
}
#header #logo a {
  display: block;
  width: 155px;
  height: 26px;
  font-size: 0;
  background: url(./images/logo.png) no-repeat center center;
  background-size: 100% auto;
}
#header #gnb {
  width: 100%;
  max-width: 1020px;
}
#header #gnb #gnbList {
  display: flex;
  justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
#header #gnb #gnbList > li {
  width: 20%;
  height: 80px;
  text-align: center;
  transition: 0.3s;
}
#header #gnb #gnbList > li:hover {
  background: #583cf2;
}
#header #gnb #gnbList > li:hover .snb {
  opacity: 1;
}
#header #gnb #gnbList > li > a {
  color: #fff;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
  position: relative;
  display: block;
}
#header #gnb #gnbList > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  transform: translateX(-50%);
  background-color: #8c72f7;
  transition: 0.3s;
}
#header #gnb #gnbList > li:hover > a:after {
  width: 100px;
}
#header #gnb #gnbList > li > .snb {
  width: 100%;
  padding: 10px 0;
  background: #583cf2;
  opacity: 0;
  transition: 0.3s;
}

#header #gnb #gnbList > li > ul > li {
  height: 24px;
  margin: 10px 0;
}
#header #gnb #gnbList > li > ul > li > a {
  font-size: 16px;
  color: #b3a1fb;
  transition: 0.3s;
}
#header #gnb #gnbList > li > ul > li > a:hover {
  color: #fff;
}

#header .mobile-open{
  display:none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

:root{
  --toggle-background: #fff;
  --toggle-beforetop: -10px;
  --toggle-aftertop: 10px;
  --toggle-beforeDegree: 0deg;
  --toggle-afterDegree: 0deg;
}

#header .mobile-open span{
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: background-color .3s;
  position:relative;
}
#header .mobile-open span::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--toggle-background);
  transition: background-color .3s, transform .3s;
  transform:rotate(var(--toggle-beforeDegree));
  top: var(--toggle-beforetop);
}
#header .mobile-open span::after{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: background-color .3s, transform .3s;
  top: var(--toggle-aftertop);
}
/*mobile-menu*/
.mobile-menu{
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 1;
  transform: translateX(100%);
  background-color: #fff;
  transition: visibility .3s, opacity .3s, transform .3s;
  z-index: 1600;
}
.mobile-menu > #mobile-gnb{

}
.mobile-menu > #mobile-gnb > li{

}
.mobile-menu > #mobile-gnb > li >a{
  width: 100%;
  display: block;
  padding: 19px 40px;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  transition: .3s;
}
.mobile-menu > #mobile-gnb > li >.snb{
  display: none;
  background:#f8f8f8;
  padding: 20px 40px;
  transition: all .3s;

}
.mobile-menu > #mobile-gnb > li >.snb.mobile_gnb_click{
  display: block;
  transition: .3s;

}
.mobile-menu > #mobile-gnb > li >.snb >li{
  padding: 10px 0;
}
.mobile-menu .mobile-menu > li >.snb >li >a{
  font-size: 18px;
    color: #555;
}
/*headermedia*/
@media (max-width: 1460px){}
#header {
    /* max-width: 1340px; */
    padding: 0 20px;
}
@media (max-width: 1280px){
  #header {
    height: 80px;
  }
}
@media (max-width: 970px){

  #headerWrap{
    /*클릭시 바귀어야할 값*/
    /* background-color:#fff; */
    /* box-shadow: 10px 0 15px rgb(0 0 0 / 10%); */
    /* height:70px; */
    position: fixed;
    z-index: 16000;
  }
  #headerWrap.mobile_open_click{
    background-color:#fff; 
    box-shadow: 10px 0 15px rgb(0 0 0 / 10%);
    height:70px;
  }
  #headerWrap #header #logo{}
  #headerWrap #header #logo a.mobile_open_click{
    /*클릭하면 바뀌어야할 배경이미지*/
    background-image:url(./images/logo_black.png);
  }
  #headerWrap #header #gnb{
    display:none;
  }
  #headerWrap .mobile-open{
    display:flex;
  }
  #headerWrap #header .mobile-open span.mobile_open_click{
    background-color: transparent;
  }
  
  #headerWrap #header .mobile-open span::before{
    /* 
    background-color: #583cf2;
    top: 50%;
    bottom: auto;
    transform: rotate(45deg); 
    */
  }
  #headerWrap #header .mobile-open span::after{
    /* 
    background-color: #583cf2; 
    top: 50%;
    bottom: auto;
    transform: rotate(-45deg);
    */
  }
  .mobile-menu{
    visibility:hidden;
    /*mobile-open클릭하면 visble*/
  }
  .mobile_open_click{
    visibility: visible;
    transform:translateX(0%);
  }
}

/*------------mainSlider----------------*/
#mainSlider {
  width: 100%;
  height: 100vh;
  background: url(./images/main_visual_img1.jpg) no-repeat center center/cover;
}
#mainSlider > a {
  width: 165px;
  height: 45px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -60px;
  transform: rotate(90deg);
  text-align: center;
  line-height: 50px;
  font-size: 17px;
  font-weight: 700;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  transition: 0.3s;
}
#mainSlider > a:hover {
  background: #7251ff;
  color: #fff;
}
#mainSlider > a:hover span {
  background: url(./images/inquiry_white.png) no-repeat center center/cover;
}
#mainSlider > a > span {
  transform: rotate(-90deg);
  display: block;
  width: 15px;
  height: 15px;
  background: url(./images/inquiry_black.png) no-repeat center center/cover;
  transition: 0.3s;
}

#mainSlider #mainSliderList {
  margin: 0 auto;
  width: 1340px;
  height: 100%;
  padding: 0 20px 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainSlider #mainSliderList > a:after {
  content: "";
}
#mainSlider #mainSliderList #mainSliderWrap {
  /* position:absolute;
  top:calc( 50% - 291px / 2 );
  left:0; */
  width: 100%;
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#mainSlider #mainSliderList #mainSliderWrap dl {
  position: absolute;
}
#mainSlider #mainSliderList #mainSliderWrap dl dt {
  font-family: "Titillium Web";
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  width: 100%;
}
#mainSlider #mainSliderList #mainSliderWrap dl dt span {
  color: #7251ff;
}
#mainSlider #mainSliderList #mainSliderWrap dl dd {
  height: 27px;
  margin-top: 20px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}
#mainSlider #mainSliderList #mainSliderWrap dl a {
  width: 148px;

  display: block;
  margin-top: 55px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  line-height: 45px;
  display: flex;
}

#mainSlider #mainSliderList #mainSliderWrap dl > a > i {
  display: block;
  width: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
#mainSlider #mainSliderList #mainSliderWrap dl a:hover i {
  background-color: #7251ff;
}
#mainSlider #mainSliderList #mainSliderWrap #mainSlider1 {
  opacity: 1;
  z-index: 1;
}
#mainSlider #mainSliderList #mainSliderWrap #mainSlider2 {
  opacity: 0;
}
#mainSlider #mainSliderList #mainSliderWrap #mainSlider3 {
  opacity: 0;
}
#mainSlider #mainSliderList #slierBtnWrap {
  position: absolute;
  right: 20px;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 1340px;
  margin-bottom: 80px;
}
#slierBtnWrap #sliderBtn {
  display: flex;
}
#slierBtnWrap #sliderBtn {
  width: 740px;
}
#slierBtnWrap #sliderBtn li {
  width: 33.333333%;
  padding: 0 12.5px;
}
#slierBtnWrap #sliderBtn li button {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 230px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 600;
  background: none;
  color: #fff;
  opacity: 0.3;
  transition: 0.3s;
  border: 0;
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
  cursor: pointer;
}
#slierBtnWrap #sliderBtn li button:hover {
  opacity: 1;
}
#slierBtnWrap #sliderBtn li button > span {
  margin-right: 10px;
}
.sliderPlayBtn {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 27.5px;
  position: relative;
  cursor: pointer;
}
.sliderPlayBtn > i {
  font-size: 20px;
  color: #fff;
}
/*-----------------------main-------------------*/
main {
}
/*-------------section1----------------*/
#section1 {
  width: 100%;
  height: 1977px;
  position: relative;
  padding: 150px 0 160px;
  background: #fff url(./images/main_business_bg1.jpg) no-repeat top center;
  /* z-index:-1; */
}
#section1 a {
  display: block;
}
#section1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 850px;
  background: url(./images/main_business_bg2.jpg) no-repeat top center;
  transform: translateX(-50%);
  /* z-index:-2; */
}
#section1 .contentWrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1340px;
  height: 100%;
  padding: 0 20px;
}
#section1 .contentWrap .contentWrapTop {
  width: 100%;
  height: 621px;

  display: flex;
  justify-content: space-between;
}
#section1 .contentWrap .contentWrapTop .content1 {
  padding-top: 120px;
}
#section1 .contentWrap .contentWrapTop .content1 span {
  height: 28px;
  display: block;
  background: url(./images/merlot.png) no-repeat center center / 131px;
  width: 131px;
  text-indent: -9999px;
}
#section1 .contentWrap .contentWrapTop .content1 h2 {
  font-size: 62px;
  font-weight: 700;
  line-height: 1;

  padding-left: 5px;
  text-transform: uppercase;
  margin-top: 10px;
}
#section1 .contentWrap .contentWrapTop .content1 p {
  margin-top: 20px;
  font-size: 18px;
  color: #444;
}
#section1 .contentWrap .contentWrapTop .content1 > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border-radius: 25px;
  background-color: #583cf2;
  text-transform: uppercase;
  margin-top: 45px;
  line-height: 50px;
}
#section1 .contentWrap .contentWrapTop .content2Wrap {
  position: relative;
}
#section1 .contentWrap .contentWrapTop .content2Wrap > a {
  display: block;
  background: url(./images/main_business_img1.jpg) no-repeat top center;
  width: 840px;
  height: 621px;
}
#section1 .contentWrap .contentWrapTop .content2Wrap > a > .content2 {
  width: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
#section1 > div > div > div > a > .contentClick h3 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 7px;
}
#section1 > div > div > div > a > .contentClick p:nth-of-type(1) {
  order: -1;
  font-size: 18px;
  color: #583cf2;
}
#section1 > div > div > div > a > .contentClick p:nth-of-type(2) {
  margin-top: 25px;
  font-size: 16px;
  color: #5d5d5d;
}
#section1 > div > div > div > a > .contentClick p:last-of-type {
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
  text-transform: uppercase;
  display: block;
  line-height: 24px;
}
#section1 > div > div > div > a > a .contentClick p:last-of-type i {
  margin-left: 15px;
}
#section1 .contentWrap .contentWrapBottom {
  width: 100%;
  height: 966px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
#section1 .contentWrap .contentWrapBottom .content3Wrap {
  height: 966px;
  width: 580px;
}
#section1 .contentWrap .contentWrapBottom .content3Wrap > a {
  background: url(./images/main_business_img2.jpg) no-repeat top center;
  height: 691px;
  position: relative;
}
#section1 .contentWrap .contentWrapBottom .content3Wrap > a .content3 {
  width: 90%;
  max-width: 500px;
  padding: 40px 30px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
#section1 .contentWrap .contentWrapBottom .content4Wrap {
  padding-top: 130px;
  width: 550px;
}
#section1 .contentWrap .contentWrapBottom .content4Wrap > a {
  display: block;
  background: url(./images/main_business_img3.jpg) no-repeat top center;
  height: 100%;
  position: relative;
}
#section1 .contentWrap .contentWrapBottom .content4Wrap > a .content4 {
  width: 90%;
  max-width: 500px;
  padding: 40px 30px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
#section1 .contentWrap .contentWrapBottom .content4Wrap > a .content4 h3 {
}
#section1 .contentWrap .contentWrapBottom .content4Wrap > a .content4 p {
}
#section1 .contentWrap .contentWrapBottom .content4Wrap > a .content4 p {
}
#section1 .contentWrap .contentWrapBottom .content4Wrap > a .content4 p {
}
/*-------------section2----------------*/
#section2 {
  width: 100%;
  height: 1005px;
  padding-bottom: 220px;
  /* background:rgb(179, 255, 179); */
  position: relative;
  overflow: hidden;
}
#section2 .section2Title {
  width: 100%;
  background: url(./images/main_technology_bg.jpg) no-repeat #171d3d bottom
    140px right;
  margin: 0 auto;
  height: 500px;
  padding-top: 100px;
}
#section2 .section2Title .section2Text {
  padding: 0 20px;
}
#section2 .section2Title .section2Text > div {
  width: 1340px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin: 0 auto;
  height: 300px;
  /* background:pink; */
}
#section2 .section2Title .section2Text h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  margin-top: 10px;
}
#section2 .section2Title .section2Text p {
  font-size: 18px;
  color: #babbbe;
}
#section2 .section2Bottom {
  width: 1340px;
  height: 460px;
  margin: -175px auto 0;
  /* background:rgb(163, 163, 255); */
  background-color: #fff;

  position: relative;
}
#section2 .section2Bottom::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  /* background-color: rgb(163, 163, 255); */
  background-color: #fff;
  z-index: 1;
  overflow: hidden;
}
#section2 .section2Bottom .contentWrap {
  padding: 60px 20px 0 80px;
  z-index: 100;
  display: flex;
  width: 2000px;
  position: relative;
}
#section2 .section2Bottom .contentWrap a {
  width: 450px;
  height: 404px;
  padding: 0 15px;
  display: block;
  /* background:rgb(255, 92, 119); */
}
#section2 .section2Bottom .contentWrap a .content {
}
#section2 .section2Bottom .contentWrap a .content .contentImg {
  text-indent: -9999px;
  width: 420px;
  height: 275px;
  margin-bottom: 20px;
}
#section2 .contentWrap .content1 {
  background-image: url(./images/main_technology_img1.jpg);
}
#section2 .contentWrap .content2 {
  background-image: url(./images/main_technology_img2.jpg);
}
#section2 .contentWrap .content3 {
  background-image: url(./images/main_technology_img3.jpg);
}
#section2 .contentWrap .content4 {
  background-image: url(./images/main_technology_img4.jpg);
}
#section2 .contentWrap .content5 {
  background-image: url(./images/main_technology_img5.jpg);
}
#section2 .section2Bottom .contentWrap a .content .techCont {
}
#section2 .section2Bottom .contentWrap a .content .techCont h3 {
  font-size: 24px;
  font-weight: 700;
}
#section2 .section2Bottom .contentWrap a .content .techCont h3 span {
  font-size: 15px;
  font-weight: 700;
  color: #583cf2;
  margin-right: 20px;
}
#section2 .section2Bottom .contentWrap a .content .techCont p {
  margin-top: 15px;
  font-size: 16px;
  color: #5d5d5d;
  margin-left: 45px;
}
#section2 .section2Bottom #section2TitleBtn {
  /* background:red;
  position:absolute; top:0; left:0; */
}
#section2 .section2Bottom #section2TitleBtn button {
}
#section2 .section2Bottom #section2TitleBtn button.left {
}
#section2 .section2Bottom #section2TitleBtn button.right {
}
#section2 .section2Bottom #section2WrapBtn {
  /* background:red; */
  text-align: center;
}
#section2 .section2Bottom #section2WrapBtn button {
  position: relative;
  top: 30px;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  position: relative;
  margin: 0 4px;
}
#section2 .section2Bottom #section2WrapBtn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  opacity: 0.25;
  background-color: #583cf2;
  border-radius: 50%;
}
#section2 .section2Bottom #section2WrapBtn button.one {
}
#section2 .section2Bottom #section2WrapBtn button.two {
}
#section2 .section2Bottom #section2WrapBtn button.three {
}
#section2 .section2Bottom #section2WrapBtn button.four {
}
#section2 .section2Bottom #section2WrapBtn button.five {
}
/* -------------section3----------------
#section3 {
  display:block;
  width: 100%;
  height: 770px;
  padding: 120px 0 230px;
  background: url(./images/main_ir_bg.jpg) no-repeat center center / cover;
}
#section3 > div {
  margin: 0 auto;
  width: 1340px;
  height: 420px;
  padding: 0 20px;
  background: red;
  display: flex;
  justify-content: space-between;
}
#section3 > div > .section3Title {
  padding: 60px 40px;
  width: 370px;
  height: 100%;
  background: url(./images/main_ir_img1.jpg) no-repeat center center / cover;
}
#section3 > div > .section3Title a {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#section3 > div > .section3Title a h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}
#section3 > div > .section3Title a p {
  margin-top: 19px;
  color: rgba(255, 255, 255, 0.6);
}
#section3 > div > .section3Title a p:last-of-type {
  margin-top: 171px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
#section3 > div > .section3Title a p:last-of-type::after {
  content: "+";
  margin-left: 16px;
}
#section3 > div > .contentWrap {
  width: 870px;
  height: 420px;
  background: green;
  position: relative;
}
#section3 > div > .contentWrap > section {
  width: 100%;
  padding-top: 5px;
  position: absolute;
}
#section3 > div > .contentWrap > .news > a {
  display: block;
}
#section3 > div > .contentWrap > .news > h3 {
  margin-left: 10px;
  position: relative;
}
#section3 > div > .contentWrap > .news h3 a::after {
  content: "";
  width: 100%;
  background-color: #e3dcff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
}
#section3 > div > .contentWrap > .notice {
  opacity: 0;
  z-index: -1;
}
#section3 > div > .contentWrap > section h3 {
  padding-left: 10px;
  font-size: 16px;
  color: #222;
  padding: 0 3px 5px;
}
#section3 > div > .contentWrap > section ul {
  max-width: 870px;
  margin-top: 15px;
  border-top: 2px solid #222;
}
#section3 > div > .contentWrap > section ul li {
  padding: 22px 10px;
  border-bottom: 1px solid #d3d3d3;
}
#section3 > div > .contentWrap > section ul li > a {
  display: block;
  display: flex;
}
#section3 > div > .contentWrap > section ul li .news_1 {
}
#section3 > div > .contentWrap > section ul li .news_2 {
}
#section3 > div > .contentWrap > section ul li > a img {
  width: 100%;
  max-width: 230px;
  overflow: hidden;
  margin-right: 40px;
  border: 1px solid #e5e3e8;
  height: 115px;
  object-fit: cover;
}
#section3 > div > .contentWrap > section ul li > a > div {
}
#section3 > div > .contentWrap > section ul li > a > div > p:nth-of-type(1) {
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
#section3 > div > .contentWrap > section ul li > a > div > p:nth-of-type(2) {
  overflow: hidden;
  height: 3em;
  margin-top: 10px;
  font-size: 14px;
  color: #888;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
#section3 > div > .contentWrap > section ul li > a > div > p:nth-of-type(3) {
  color: #888;
}
#section3 > div > .contentWrap > section ul li > a > div > p:nth-of-type(3) i {
  font-size: 14px;
}
#section3 > div > .contentWrap > section ul li > a > div > {
  font-size: 15px;
}
#section3 > div > .contentWrap > section > a {
  position: absolute;
  top: 0;
  right: 0;
  background: yellow;
} */

/*-------------------------용화형section3----------------------------------------------*/
#section3 {
  padding: 120px 0 230px 0;
  width: 100%;
  height: 770px;
  background: url(./images/main_ir_bg.jpg) no-repeat center center;
}
#section3 > div {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1340px;
  height: 420px;
  display: flex;
  justify-content: space-between;
}
#section3 > div .section3Title {
  padding: 60px 40px;
  width: 370px;
  height: 420px;
  background: url(./images/main_ir_img1.jpg) no-repeat top center/cover;
}
#section3 > div .section3Title a {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#section3 > div .section3Title a h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}
#section3 > div .section3Title a > p {
  margin-top: 19px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
#section3 > div .section3Title a > p:last-of-type {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: auto;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
}
#section3 > div .section3Title a > p:last-of-type::after {
  content: "+";
  /* margin-left: 15px; */
  position: absolute;
  left: 100px;
  transition: 0.3s;
  line-height: 100%;
}
#section3 > div .section3Title a > p:last-of-type:hover::after {
  transform: rotate(90deg);
}
#section3 > div .contentWrap {
  width: 870px;
  height: 420px;
}
#section3 > div .contentWrap > section {
  position: absolute;
}
#section3 > div .contentWrap > .news {
  /* display: none; */
  position: relative;
}
#section3 > div .contentWrap > .notice {
  display: none;
}
#section3 > div .contentWrap > section h3 {
  font-size: 100%;
  color: #777;
  /* z-index: 50; font-size: 100%;
border: 0;
vertical-align: baseline;     padding: 0;
margin: 0;
box-sizing: border-box;*/
}
#section3 > div .contentWrap > .notice h3 {
  color: #777;
  position: relative;
  left: 100px;
  font-size: 100%;
}
#section3 > div .contentWrap > section > ul {
  max-width: 870px;
  margin-top: 15px;
  border-top: 2px solid #222;
}
#section3 > div .contentWrap > section > ul li {
}
#section3 > div .contentWrap > section > ul li a {
  padding: 22px 10px;
}
#section3 > div .contentWrap > section > ul li .news_1 {
  display: flex;
}
#section3 > div .contentWrap > section > ul li .news_2 {
  display: flex;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
#section3 > div .contentWrap > section > ul li a img {
  width: 230px;
  height: 112px;
  display: block;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  max-width: 230px;
  overflow: hidden;
  margin-right: 40px;
  border: 1px solid #e5e3e8;
  object-fit: cover;
  top: 20px;
}

#section3 > div .contentWrap > section > ul li a #slslsls {
  position: relative;
  width: 100%;
  max-width: 230px;
  overflow: hidden;
  margin-right: 40px;
  border: 1px solid #e5e3e8;
  object-fit: cover;
  top: 10px;
}
#section3 > div .contentWrap > section > ul li a > div {
  width: 580px;
}
#section3 > div .contentWrap > section > ul li a div .dd {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
#section3 > div .contentWrap > section > ul li a div p {
  font-size: 14px;
  color: #888;
}
#section3 > div .contentWrap > section > ul li a > div p {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0 10px;
}
#section3 > div .contentWrap > section > a {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  top: 5px;
  right: 35px;
  text-transform: uppercase;
}
#section3 > div .contentWrap > section > a::after {
  content: "+";
  position: absolute;
  top: 0;
  right: -30px;
  transition: 0.3s;
}
#section3 > div .contentWrap > section > ul li .notice_1 {
  display: flex;
}
#section3 > div .contentWrap > section > ul li .notice_2 {
  display: flex;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
/*section3media*/
@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1279px) {
  #section3 > div {
    flex-direction: column;
  width: 100%; height: 705px;}

#section3 > div .section3Title {height: 240px; width: 100%; 
background-color:#1a0546 url(./images/main_ir_img1.jpg) no-repeat top right -200px/600px;}
  }
/*---------------------------------------------------------------------------------------------*/
/*-------------section4----------------*/
#section4 {
  width: 100%;
  height: 450px;
  /* background: rgb(208, 255, 207); */
  /* background-color: #242424; */
  position: relative;
  background-color: #242424;
}
#section4 .locationWrap {
  margin: 0 auto;
  width: 1340px;
  height: 450px;
  display: flex;
  justify-content: start;
}
#section4 .locationWrap .locationHouse {
  width: 480px;
  height: 450px;
  /* background: yellow; */
  padding-top: 125px;
}
#section4 .locationHouse > h3 {
  font-size: 48px;
  font-weight: 700;
  color: #fff !important;
  text-transform: capitalize;
}
#section4 .locationHouse h3 span {
  font-weight: 700;
  line-height: 1;
  font-size: 18px;
  color: #6f6f6f;
  margin-left: 10px;
}
#section4 .locationHouse p {
  margin-top: 25px;
  width: 100%;
  height: 52px;
  font-size: 17px;
  color: #bbb;
}
#section4 .locationHouse div {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}
#section4 .locationHouse div a {
  width: 50%;
  max-width: 200px;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-bottom: 2px solid #fff;
  line-height: 60px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
#section4 .locationHouse div a i {
  display: flex;
  align-items: center;
}
#section4 .locationWrap .locationMap {
  width: 1100px;
  height: 550px;
  /* background:rgb(146, 146, 255); */
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
#section4 .locationMap a {
  width: 110px;
  height: 110px;
  background: #1e3a8b;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
#section4 .locationMap a i {
  margin-bottom: 10px;
}
#section4 .locationMap a:hover {
  background: #583cf2;
}
#section4 .locationMap > div {
  width: 990px;
  height: 550px;
  background: url(./images/860.png) no-repeat center center / cover;
  text-indent: -9999px;
  position: relative;
}
#section4 .locationMap > div:after {
}
/*-------------footer----------------*/
#footerWrap {
  width: 100%;
  height: 316.5px;
  padding: 70px 0 80px;
  background-color: #242424;
}
#footer {
  width: 100%;
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
#footer #footerNav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #3a3a3a;
}
#footer #footerNav > a {
  background: url(./images/footer_logo.png) no-repeat;
  display: block;
  width: 138px;
  height: 23px;
  text-indent: -9999px;
}
#footer #footerNav ul {
  display: flex;
}
#footer #footerNav ul li {
  position: relative;
  padding-right: 9px;
  margin-right: 8px;
}
#footer #footerNav ul li:last-of-type {
  padding-right: 0px;
  margin-right: 0px;
}
#footer #footerNav ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 12px;
  background-color: #5e5e5e;
  transform: translateY(-50%);
}
#footer #footerNav ul li:last-of-type::after {
  content: "";
  width: 0;
}
#footer #footerNav ul li > a {
  display: block;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  color: #5e5e5e;
}
#footer .footerInfoWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 25px;
}
#footer .footerInfoWrap .footerInfo {
  display: flex;
  margin: 0 -9px;
  flex-direction: column;
}
#footer .footerInfoWrap .footerInfo p {
  padding: 0 9px;
  font-size: 15px;
  color: #828282;
}
#footer .footerInfoWrap .footerInfo small {
  margin-top: 25px;
  padding: 0 9px;
  font-size: 14px;
  color: #828282;
}
#footer .footerInfoWrap .goSite {
}
#footer .footerInfoWrap .goSite ul {
  display: flex;
}
#footer .footerInfoWrap .goSite ul li {
  padding: 0 7.5px;
}
#footer .footerInfoWrap .goSite ul li > a {
  display: inline-flex;
  align-items: center;
  height: 47px;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-bottom: 2px solid #fff;
}
#footer .footerInfoWrap .goSite ul li:first-of-type > a > i {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url(./images/footer_icon1_ov.png) no-repeat center center;
}
#footer .footerInfoWrap .goSite ul li:last-of-type > a {
  color: #828282;
  border-bottom: 2px solid #828282;
  transition: 0.3s;
}
#footer .footerInfoWrap .goSite ul li:last-of-type > a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}
#footer .footerInfoWrap .goSite ul li:last-of-type > a > i {
  width: 30px;
  height: 24px;
  margin-right: 10px;
  background: url(./images/footer_icon2.png) no-repeat center center;
  transition: 0.3s;
}
#footer .footerInfoWrap .goSite ul li:last-of-type > a:hover > i {
  background: url(./images/footer_icon2_ov.png) no-repeat center center;
}
