@charset "utf-8";
/*******************************
* CSS : board.default.css
* Author: NXWEB beop07
* Update: 2019.06
********************************/

/* SearchBox */
.search-box{display:flex; justify-content:center; align-items:center; width:100%; padding-bottom:50px;}
.search-box .form{display:flex;	justify-content:center;	align-items:center;	width:100%;	font-size:0;}
.search-box .select{width:120px;height:50px;margin-right:5px;font-size:15px;padding:0 50px 0 20px;background:#fff url(/uploads/media/select_arrow.png) no-repeat right 20px center;border:1px solid #e5e5e5;-webkit-appearance:none;-moz-appearance:none;}
.search-box .select::-ms-expand {display:none;}
.search-box .search-input {width:100%; max-width:320px; width:100%; height:50px; padding-left:20px; font-size:15px; border:1px solid #e5e5e5;
background-color: #fff!important; appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;}
.search-box .btn-search {display:block;	flex-shrink:0; width:80px; height:50px;	font-size:15px;	color:#fff;	border:none;	background-color:#333; appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;}
.search-text {font-size:16px; color:#444; text-align:center;}
.search-text .color {color:#583cf2!important;}
@media(max-width:970px){
	.search-box .select{height:50px;}
	.search-box .search-input {height:50px;}
	.search-box .btn-search {height:50px;}
}
@media(max-width:640px){
	.search-box{background:none;padding-top:0;padding-bottom:30px;}
	.search-box .inner{padding:0}
	.search-box .select{flex-shrink:0; width:80px; padding:0 10px; background:#fff url(/uploads/media/select_arrow.png) no-repeat right 10px center;}
	.search-box .btn-search{width:70px}
	.search-text {font-size:15px;}
	.notice_txt {border-top:2px solid #222;}
}
@media(max-width:480px){
	.search-box .search-input{padding-left:10px;}
	.search-box .btn-search{width:60px}
}

/* List */
#board-list-default .bl_search{display:flex; justify-content:center; width:100%;}
#board-list-default .bl_list{width:100%;border-top:2px solid #222;}
#board-list-default .bl_list thead th{height:60px;border-bottom:1px solid #222;font-size:16px;font-weight:600;color:#222;text-align:center;vertical-align:middle;}
#board-list-default .bl_list tbody tr{background:#fff;transition:background-color .3s;}
#board-list-default .bl_list tbody tr.tr--hover{background:#f7f8fd;}
#board-list-default .bl_list tbody tr.tr--hover td{color:#222;}
#board-list-default .bl_list tbody tr.tr--hover td a{color:#583cf2;}
#board-list-default .bl_list .th-num{width:120px}
#board-list-default .bl_list .th-subject{width:auto; max-width:1120px;}
#board-list-default .bl_list .th-date{width:160px;}
#board-list-default .bl_list tbody td{font-size:15px;color:#777;text-align:center;letter-spacing:-0.2px;word-break:break-all!important;vertical-align:middle;border-bottom:1px solid #e5e5e5; transition:color .3s;}
#board-list-default .bl_list td a{color:#777; transition:color .3s;}
#board-list-default .bl_list .td-num{font-family:'Titillium Web', sans-serif;}
#board-list-default .bl_list .td-subject{padding:20px;text-align:left;}
#board-list-default .bl_list .td-subject .link{display:flex;align-items:center;width:100%;height:100%;vertical-align:middle;}
#board-list-default .bl_list .td-subject .text{letter-spacing:-.25px;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;-webkit-line-clamp:1;-webkit-box-orient:vertical;transition:color .3s;}
#board-list-default .bl_list .td-date{font-family:'Titillium Web', sans-serif;}
#board-list-default .bl_notice td{font-weight:500;color:#222;}
#board-list-default .bl_notice .td-num .icon{color:#ff9c00;}
#board-list-default .bl_notice .td-subject .notice-mark{display:inline-flex;justify-content:center;align-items:center;width:50px;height:26px; margin-right:15px;color:#fff;background-color:#30b28d; border-radius: 3px;}
#board-list-default .bl_notice td a{color:#222; font-weight:500; transition:color .3s;}
#board-list-default .comment_cnt{color:#888}
.notice_txt {display:flex; justify-content:center; align-items:center; padding:70px 0; border-bottom:1px solid #ccc;}
@media(max-width:970px){
	#board-list-default .bl_list thead th{font-size:15px;}
	#board-list-default .bl_list .th-num{width:80px}
	#board-list-default .bl_list .th-date{width:120px}
	#board-list-default .bl_list td a{color:#222;}
	#board-list-default .bl_notice .td-subject .notice-mark{margin-right:8px;}
}
@media(max-width:640px){
	#board-view-default .bw_contents{padding:25px 10px;}
	#board-list-default .bl_header > .pull-right{width:100% !important}
	#board-list-default .bl_list tbody tr:first-child{border-top:1px solid #333}
	#board-list-default .bl_list tbody tr{border-bottom:1px solid #ddd}
	#board-list-default .bl_list th, #board-list-default .bl_list td.td-num{display:none}
	#board-list-default .bl_list td{float:left;border-bottom:0 !important;padding:0 10px 15px;}
	#board-list-default .bl_list td.td-subject{width:100%;color:#222;}
	#board-list-default .bl_list .td-subject{padding:15px 10px 5px;}
	#board-list-default .bl_list td.td-writer{color:#999;position:relative}
	#board-list-default .bl_list td.td-writer:after{content:'';width:1px;height:11px;background:#999;position:absolute;right:0;top:4px}
	#board-list-default .bl_list td.td-date{color:#999}
}

/* Write */
#board-write-default img {max-width:100%;}
#board-write-default .bw_subject{padding-bottom:15px}
#board-write-default .bw_subject input[type=text]{width:100%;height:48px;border-radius:4px;border:1px solid #c9c9c9;padding:4px 8px;text-indent:5px;outline:none}
#board-write-default .bw_subject input[type=text]:focus{border-color:#aaa}
#board-write-default .bw_contents textarea{width:100%;height:350px}
#board-write-default .tbl_bw{width:100%}
#board-write-default .tbl_bw th{width:120px;font-weight:500}
#board-write-default .tbl_bw th, #board-write-default .tbl_bw td{height:48px;font-size:14px;color:#434343;border-bottom:1px solid #dcdcdc;padding:8px 10px;vertical-align:middle}
#board-write-default .tbl_bw select{width:160px;height:32px;border:1px solid #ccc;vertical-align:top;font-size:13px;border-radius:3px}
#board-write-default .tbl_bw input[type=checkbox]{width:16px;height:16px}

/* View */
#board-view-default img {max-width:100%;}
#board-view-default .bl_search{display:flex; justify-content:center; width:100%;}
#board-view-default .bw_header h3{font-size:28px;color:#222;font-weight:700;text-align:center;letter-spacing:-0.2px;border-bottom:1px solid #222;padding-bottom:40px;}
#board-view-default .bw_header .bw_info{display:flex; flex-wrap:wrap; padding:0;}
#board-view-default .bw_header .bw_info > li{width:50%;color:#888;font-size:13px; border-bottom:1px solid #e5e5e5;}
#board-view-default .bw_header .bw_info > li:last-child{margin-right:0}
#board-view-default .bw_header .bw_info > li > span{display:inline-block;vertical-align:middle}
#board-view-default .bw_header .bw_info > li > .dt{width:150px; padding: 20px 0; font-size:15px; color:#222; font-weight:500; text-align:center; letter-spacing:-0.25px; background-color:#f8f8f8;}
#board-view-default .bw_header .bw_info > li > .dd{padding: 20px 0 20px 30px; font-size:15px; color:#444; letter-spacing:-0.25px;}
#board-view-default .bw_header .bw_action{display:flex; padding:10px 0;margin-right:-10px}
#board-view-default .bw_header .bw_action > li{position:relative;padding:0 10px;line-height:1}
#board-view-default .bw_header .bw_action > li > a{color:#666;font-size:13px;}
#board-view-default .bw_header .bw_action > li:after{content:"";width:1px;height:10px;display:block;position:absolute;right:0;top:4px;background:#ddd;}
#board-view-default .bw_header .bw_action > li:last-child:after{display:none}
#board-view-default .bw_contents{padding:35px 20px;min-height:270px;font-size:14px;line-height:1.75em;word-break: break-all;}
#board-view-default .bw_contents p{font-size:17px;color:#444;line-height:1.75em;word-break: break-all;}
#board-view-default .bw_contents span[lang="JA"]{word-break:break-all}
#board-view-default .bw_contents a{color:#0782C1;text-decoration:underline;}
#board-view-default .bw_header .bw_info .bw_files{width:100%;}
#board-view-default .bw_files{display:flex;border-bottom:1px solid #e5e5e5;}
#board-view-default .bw_files h4{display:flex;justify-content:center;align-items:center;width:150px;height:60px;font-size:15px;color:#222;font-weight:500;background:#f8f8f8;}
#board-view-default .files_list{display:flex; justify-content:space-between; align-items:center; width:calc(100% - 150px); padding:0 10px 0 30px;}
#board-view-default .files_list > li{font-size:13px;color:#555;padding:5px 0;border-bottom: 1px dotted #e9e9e9}
#board-view-default .files_list > li:last-child{border-bottom:0}
#board-view-default .files_list > li > a{display:inline-block;vertical-align:middle;color:#404040}
#board-view-default .files_list > li > a:hover{text-decoration:underline}
#board-view-default .down_icon{display:inline-block;width:13px;height:13px;background:url('img/ic_down.png') no-repeat;vertical-align:middle;margin-right:2px}
#board-view-default .files_list .files_name a{font-size:15px; color:#444; line-height:1em;}
#board-view-default .files_list .volume{display:inline-block;font-size:12px;color:#888;vertical-align:middle;margin-left:10px}
#board-view-default .files_list .files_btn{display:flex;justify-content:center;align-items:center;width:160px;height:40px;font-family: 'Poppins', sans-serif;font-size:13px;color:#222;border-radius:40px;background-color:#f8f8f8; transition:background-color .4s;}
#board-view-default .files_list .files_btn:hover{background-color:#eee;}
#board-view-default .files_list .files_btn .icon{margin-right:8px;font-size:16px;color:#00919e;vertical-align:middle;}
#board-view-default .bw_footer .controller-wrap{position:relative;border-top:1px solid #222; border-bottom:1px solid #222;}
#board-view-default .bw_footer .controller:not(:last-child) {border-bottom:1px solid #e5e5e5;}
#board-view-default .bw_footer .controller .ar_btn{display:flex; align-items:center;}
#board-view-default .bw_footer .ar_btn{display:block;position:relative;}
#board-view-default .bw_footer .ar_btn .label{display:inline-block;position:relative;width:150px;padding:0 30px;font-size:15px;color:#222;font-weight:500;}
#board-view-default .bw_footer .ar_btn .label::after{content:"";position:absolute;top:50%;right:0;width:1px;height:15px;background:#e5e5e5;transform:translateY(-50%);}
#board-view-default .bw_footer .ar_btn .label .icon{margin-right:30px;color:#ccc; transition:color .3s;}
#board-view-default .bw_footer .ar_btn:hover .label .icon{color:#222;}
#board-view-default .bw_footer .ar_btn .title{display:inline-block;width:calc(100% - 150px);padding:18px 30px;font-size:15px;color:#999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;	}
#board-view-default .bw_footer .ar_btn > span{display:block;font-size:13px;color:#777; transition:color .3s; letter-spacing:-0.2px;}
#board-view-default .bw_footer .ar_btn:hover > span{color:#333 !important}
#board-view-default .bw_footer .ar_btn:hover:before{border-color:#aaa}
#board-view-default .bw_footer .center_con{width:220px;height:60px;margin:100px auto 0;border:1px solid #e5e5e5;background-color:#f8f9fa;transition:background-color .2s;}
#board-view-default .bw_footer .center_con:hover{background-color: #ececec;}
#board-view-default .bw_footer .center_con .btnList{display:flex;justify-content:center;align-items:center;width:100%;height:100%;}
#board-view-default .bw_footer .center_con .btnList .icon{margin-right:12px;font-size:20px; color:#222;}
#board-view-default .bw_footer .btnList > span{display:inline-block;font-size:16px;color:#222;letter-spacing:-0.2px;}
#board-view-default .bw_footer .icList{display:inline-block;width:20px;height:20px;background:url('img/ic_list.png') no-repeat;opacity:0.9}
#board-view-default .bw_footer .btnList:hover > span{color:#333}
#board-view-default .bw_footer .btnList:hover > .icList{opacity:1}
@media(max-width:1280px){
	#board-view-default .bw_footer .center_con{width:180px;}
	#board-view-default .bw_footer .btnList > span{font-size:15px;}
}
@media(max-width:970px){
	#board-view-default .bw_header h3{font-size:24px; padding-bottom:30px;}
	#board-view-default .bw_header .bw_info > li > .dt{width:110px;font-size:14px; padding:15px 0;}
	#board-view-default .bw_header .bw_info > li > .dd{padding:15px 0 15px 20px; font-size:14px;}
	#board-view-default .bw_files h4{width:110px;height:50px;font-size:14px}
	#board-view-default .files_list{width:calc(100% - 110px);}
	#board-view-default .files_list .files_btn{width:140px;height:35px;border-radius:35px;}
	#board-view-default .files_list .files_name a{font-size:14px;}
	#board-view-default .bw_contents p{font-size:16px;}
	#board-view-default .bw_footer .center_con{width:160px;height:50px;margin-top:70px;}
	#board-view-default .bw_footer .center_con .btnList .icon{font-size:17px;}
	#board-view-default .bw_footer .btnList > span{font-size:14px;}
}
@media(max-width:640px){
	#board-view-default .bw_header h3{font-size:20px; padding-bottom:17px;}
	#board-view-default .bw_header .bw_info > li{width:100%;}
	#board-view-default .bw_header .bw_info > li > .dt{width:90px;}
	#board-view-default .bw_header .bw_info > li > .dd{padding-left:10px;}
	#board-view-default .bw_files h4{width:90px;}
	#board-view-default .files_list{width:calc(100% - 90px); padding-left:20px;}
	#board-view-default .files_list .files_btn{display:none;}
	#board-view-default .bw_contents p{font-size:14px;}
	#board-view-default .bw_footer .ar_btn .label{width:120px; padding:0 20px; font-size:14px;}
	#board-view-default .bw_footer .ar_btn .label .icon{margin-right:15px;}
	#board-view-default .bw_footer .ar_btn .title{width:calc(100% - 120px); padding:18px 5px 18px 20px;}
	#board-view-default .bw_footer .center_con{margin-top:50px;}
}
@media(max-width:480px){
	#board-view-default .bw_contents{font-size:14px;}
	#board-view-default .bw_header h3{font-size:20px;padding-bottom:20px;}
	#board-view-default .bw_contents p{font-size:14px;}
	#board-view-default .bw_footer .ar_btn .label{width:90px;padding:0 12px;font-size:14px;}
	#board-view-default .bw_footer .ar_btn .label .icon{margin-right:10px;}
	#board-view-default .bw_footer .ar_btn .title{width:calc(100% - 90px);padding:10px 5px 10px 15px;font-size: 14px;}
}

/* comments */
#board-view-default .ul_comment_list{margin-bottom:25px}
#board-view-default .ul_comment_list > li{border-bottom:1px dotted #ccc;padding:12px}
#board-view-default .ul_comment_list > li:last-child{border-bottom:0}
#board-view-default .ul_comment_list .hd{overflow:hidden}
#board-view-default .ul_comment_list .hd .name{display:inline-block;font-size:13px;color:#666;font-weight:500}
#board-view-default .ul_comment_list .hd .date{display:inline-block;font-size:12px;color:#888;margin-left:10px}
#board-view-default .ul_comment_list .hd .comAct{display:inline-block;font-size:12px;color:#888;margin-right:3px}
#board-view-default .ul_comment_list .hd .comActMode{display:none}
#board-view-default .ul_comment_list .cont{font-size:13.5px;line-height:20px;color:#666;padding-top:5px}
#board-view-default .ul_comment_list .cont textarea{width:100%;height:80px;font-size:13.5px;color:#666;padding:5px;border:1px solid #bbb}

#board-view-default .comment{margin-top:30px}
#board-view-default .bw_comment_write{border:1px solid #ddd;box-shadow:1px 1px 2px rgba(0,0,0,0.03)}
#board-view-default .bw_comment_write h4{font-size:13px;color:#444;font-weight:400;background:#f1f1f1;padding:8px 12px;border-bottom:1px solid #ddd}
#board-view-default .comment_write{display:block;padding:12px}
#board-view-default .comment_write_info{padding-bottom:12px;overflow:hidden}
#board-view-default .comment_write_info label, #board-view-default .comment_write_info input{vertical-align:middle;font-size:13px;margin-right:5px}
#board-view-default .comment_write_info input{width:120px;height:24px;border:1px solid #bfbfbf;text-indent:5px}
#board-view-default .comment_write_area{display:table;width:100%}
#board-view-default .comment_write_area .txtArea{display:table-cell;vertical-align:top}
#board-view-default .comment_write_area .btnArea{display:table-cell;vertical-align:top;width:83px;padding-left:8px}
#board-view-default .comment_write_area .txtArea textarea{width:100%;height:75px;border:1px solid #bfbfbf;padding:8px;resize:none}
#board-view-default .comment_write_area .btnArea .commentSubmit{width:100%;height:75px;border:1px solid #bfbfbf;background:#eee;background:linear-gradient(#f7f7f7,#dadada);color:#333;font-size:14px}

/* Btn */
#board-default .btn-brd-list{display:inline-block;border:0;padding:7px 18px;background:#999;color:#fff;font-size:14px}
#board-default .btn-brd-save, #board-default .btn-brd-write{display:inline-block;border:0;padding:7px 18px;background:#222;color:#fff;font-size:14px}

/* File Upload */
#board-default #drop{background:#e6e6e6;border:7px dotted #bbb;padding:22px 30px;width:100%;color:#7f858a;text-align:center;}
#board-default #drop a{background-color:#007a96;padding:8px 20px;color:#fff;font-size:13px;border-radius:2px;cursor:pointer;display:inline-block;margin-top:12px;line-height:1}
#board-default #drop a:hover{background-color:#0986a3}
#board-default #drop input{display:none}
#board-default .dropList{margin-top:15px}
#board-default .dropList li{position:relative;height:auto;padding:6px 0;border-bottom:1px dotted #ccc}
#board-default .dropList li:last-child{border-bottom:0}
#board-default .dropList li input{display:none}
#board-default .dropList li p{display:inline-block;font-size:14px;color:#444;margin-left:7px;vertical-align:middle}
#board-default .dropList li i{position:absolute;right:72px;top:7px;font-size:13px;font-weight:normal;font-style:normal;color:#7f7f7f}
#board-default .dropList li canvas{vertical-align:middle}
#board-default .dropList li span.nt{width:15px;height:12px;background:url("img/icons.png") no-repeat;position:absolute;top:50%;margin-top:-7px;right:50px}
#board-default .dropList li span.erMsg{display:inline-block;vertical-align:middle;color:red;margin-left:25px;position:absolute;right:130px;top:9px;font-size:13px}
#board-default .dropList li span.brdFileDel{position:absolute;display:inline-block;top:50%;right:0;margin-top:-10px;width:30px;height:20px;font-size:12px;line-height:20px;color:#fff;text-align:center;background:#fb4545;border-radius:3px;cursor:pointer}
#board-default .dropList li.error span.nt{background-position-y:-13px;margin-top:-6px}
#board-default .dropList li.working span.nt{height:16px;background-position:0 -12px}
#board-default .dropList li.error p{color:red}

/* pagination */
#board-default .board_pagination{text-align:center;overflow:hidden;margin:75px -3px 0;}
#board-default .board_pagination strong{vertical-align:top;display:inline-block;width:40px;height:40px;background-color:#333;color:#fff;font-size:15px;line-height:40px;text-align:center;margin:0 3px}
#board-default .board_pagination a{vertical-align:top;display:inline-block;width:40px;height:40px;border:1px solid #e5e5e5;background-color:#fff;color:#6c6c6c;font-size:12px;line-height:38px;text-align:center;margin:0 3px}

#board-default .board_pagination .ic_pg_first{width:26px;height:30px;background:url('/uploads/media/pgn_arr_first.png') no-repeat center center}
#board-default .board_pagination .ic_pg_last{width:26px;height:30px;background:url('/uploads/media/pgn_arr_last.png.png') no-repeat center center}
#board-default .board_pagination .ic_pg_prev{width:26px;height:30px;background:url('/uploads/media/ar_prev.png') no-repeat center}
#board-default .board_pagination .ic_pg_next{width:26px;height:30px;background:url('/uploads/media/ar_next.png') no-repeat center}
#board-default .board_pagination .pull-left p{font-size:13px;color:#777;line-height:33px;font-family:'Montserrat','notokr',sans-serif}
#board-default .board_pagination a.disabled{cursor:default}
#board-default .board_pagination a.disabled > i{opacity:0.2}
@media (max-width:970px) {
	#board-default .board_pagination {margin-top:60px;}
}
@media(max-width:640px){
	#board-view-default .bw_contents {padding:25px 10px;}
	#board-default .board_pagination{margin-top:50px;}
	#board-default .board_pagination a{width:30px; height:30px; line-height:28px;}
	#board-default .board_pagination strong{width:30px; height:30px; line-height:28px;}
}
@media(max-width:480px){
	#board-default .board_pagination .first{display:none;}
	#board-default .board_pagination .last{display:none;}
	#board-default .board_pagination a{width:25px; height:25px; line-height:23px;}
	#board-default .board_pagination strong{width:25px; height:25px; line-height:23px;}
}